[submodule "pkgs/libzmq-constants-perl"]
	path = pkgs/libzmq-constants-perl
	url = https://github.com/vyos/libzmq-constants-perl.git
[submodule "pkgs/libzmq-libzmq2-perl"]
	path = pkgs/libzmq-libzmq2-perl
	url = https://github.com/vyos/libzmq-libzmq2-perl.git

